main {
    display: grid;
    grid-template-columns: 1fr 1fr .3fr;
}

body {
    background: #2E303A;
}

header {
    background: url("../images/mountains.jpg");
    height: 178px;
}

header img {
    width: 178px;
    float: left;
}

header h1 {
    font-size: 3em;
    color: #2E303A;
    float: left;
    margin: 50px;
    margin: 50px 80px 50px 112px;
    text-shadow: 4px 4px 3px #2E303A;
}

#wrapper {
    width: 900px;
    min-height: 1000px;
    background: #70656d;
    margin: auto;
    border: #2E303A solid 5px;
    border-radius: 20px;
    overflow: hidden;
}

nav {
    background: #74689A;
    clear: both;
    width: 100%;
    height: 50px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    border-top: 3px solid #2E303A;
    border-bottom: 5px solid #2E303A;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    justify-items: center;
}

nav a {
    font-size: 1.5em;
    color: #f1e5d0;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav a:hover {
    background: #70656d;
    text-shadow: 4px 4px 2px #2E303A;
    padding: 0 10px;
}

#ads {
    width: 200px;
    background: #70656d;
    border: 3px solid #2E303A;
    position: fixed;
    right: 0;
    color: #f1e5d0;
    transition: right .75s ease-out;
}

#ads:hover {
    right: 0;
    transition: right .85s ease-in;
}

section {
    background: #f1e5d0;
    height: 420px;
}

section img {
    max-width: 100%;
}

footer {
    clear: both;
    display: grid;
    background: url("../images/mountains.jpg") 0 -775px;
    grid-template-columns: 1fr 1fr;
    color: #f1e5d0;
}

footer li {
    list-style-type: none;
}

footer li a {
    color: #f1e5d0;
    text-decoration: none;

}

.col_left {
    grid-column: 1 / 2;
}

.col_right {
    grid-column: 2 / 3;
}