body {
    background-color: #F0F7EE;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

header {
    background-color: #A3B18A;
    font-family: Georgia, serif;
    display: grid;
    grid-template-columns: 150px auto;
    opacity: 90%;
}

h2 {
    margin: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #588157;
    color: #D77A61;
}

.book, .join {
    background-color: #588157;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #3A3A3A;
    color: #F0F7EE;
    font-size: 18px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: #FFF;
}

#hero-img {
    width: 100%;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #A3B18A;
    grid-area: 4/1/9/11;
}

.msg {
    background-color: #A3B18A;
    line-height: 1.5em;
    padding: 35px;
    grid-area: 6/6/7/10;
    box-shadow: 5px 5px 10px #3A3A3A;
}

.msg h2 {
    color: #3A3A3A;
    font-family: Georgia, serif;
}

.msg p {
    color: #588157;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #A3B18A;
    color: #3A3A3A;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #588157;
    text-decoration: none;
}

footer a:hover {
    color: #D77A61;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

.home-title {
    color: #588157;
    font-family: Georgia, serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #3A3A3A;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.mountains {
    width: 100%;
    grid-area: 5/2/8/7;
    box-shadow: 5px 5px 10px #3A3A3A;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.rivers-card {
    grid-area: 2/2/3/4;
}

.camping-card {
    grid-area: 2/5/3/7;
}

.rapids-card {
    grid-area: 2/8/3/10;
}

.card-img {
    border: 10px solid #588157;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #3A3A3A;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}