/*My biggest goal with setting up this css, 
was making it so that it would scale if I scale down the size of my screen.
*/
* {
    box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	width: 100%;
    color: white;
}
body {
	font-family: 'Quicksand', sans-serif;
}
main {
	margin: 0;
	padding: 30px;
	background-image: url(../images/Ponyo\ Generic.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
header {
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#title-block {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	gap: 10px;
	margin: 0;
	width: 100%;
	padding: 5px;
	padding-top: 0;
	border-bottom: #F5D8A5 3px solid;
}
#logo {
	height: 100px;
	width: auto;
	opacity: 90%;
	grid-column: 1;
}
#title {
	font-size: 50px;
	text-align: center;
	padding: 0;
	margin: 0;
	grid-column: 2;
	width: 100%;
}
nav {
	display: flex;
	justify-content: center;
	width: 90%;
	font-size: 20px;
	font-family: 'Comfortaa', cursive;
	padding: 0;
}
nav a {
	text-align: center;
	padding: 12px;
	margin: 0 auto;
	width: 100%;
}
header a:visited {
	color: inherit;
}
nav a:hover {
	background: #0b5e73;
    color: #FFE8C8;
}
h1, h2 {
	font-family: 'Shadows Into Light', cursive;
}
h2 {
    font-size: 30px;
	padding: 15px;
}
#mid-box {
    background: #f26b6b;
    text-align: center;
    margin: 0 auto;
	min-width: min-content;
	max-width: fit-content;
	padding: 30px;
	border-radius: 25px;
}
#griddy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
	gap: 50px;
}
#mid-box img {
	height: 300px;
	width: 300px;
}
#reports {
	background-color: #0b5e73;
	padding: 15px;
	border-radius: 15px;
	border: black 3px solid;
}
#happygifs {
	margin-bottom: 20px;
}
#finaltitle {
	text-shadow: black 3px 3px;
}
a {
	text-decoration: none;
}
form {
    background: #4da1a9;
	max-width: 300px;
	display: flex;
	flex-direction: column;
	padding: 15px;
}
#slide-form {
	position: fixed;
	top: 50%;
	left: -250px;
	transform: translateY(-50%);
	transition: left 0.4s ease;
}
#slide-form:hover {
	left: 0;
}
#closeBtn {
	width: 25px;
	text-align: center;
	align-self: flex-end;
}
header, footer {
    background: #063C50;
	color: #F5D8A5;
}
header a, header a:link, footer a, footer a:link, footer a:visited {
  color: inherit;
}
footer {
    margin: 0 auto;
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 25px;
}
h1, h2, ul, ol {
    margin: 0;
}
ul, ol {
	width: 100%;
}
#social-list, #about-list {
	list-style-type: none;	
}